header {
  background-color: #4aaaa5;
  border-color: #cccccc;
  border: 20px;
  padding: 20px;
  color: #ffffff;
  width: 35%;
  font-size: 40px;
  font-family: 'Calistoga', cursive;
  font: bolder;
}

/* body {
  font-family: Georgia, 'Times New Roman', Times, serif;
} */

h1 {
  color: #4aaaa5;
  font-size: 30px;
  border-bottom: #dddddd solid;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  clear: both;
}

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #ffffff;
  border-radius: 5px;
  overflow: auto;
}

.navbar li {
  float: right;
}

.navbar li a {
  display: block;
  text-decoration: none;
  padding: 15px 20px;
  color: #cccccc;
}

.navbar li a:hover {
  background-color: cadetblue;
  color: #ffffff;
}

#body {
  background-color: #ffffff;
  border: solid #dddddd 400px;
  width: 960px;
  height: 1000px;
  /* box-sizing: border-box;
  border: #dddddd solid px;
  background-color: #ffffff;
  /* border-color: #dddddd;
  border-style: solid; */
  /* padding: 20px;
  margin-top: 90px;
  margin-bottom: 90px;
  margin-right: 60px;
  margin-left: 60px;
  width: 960px; */ */

}

/* img {
  position: fixed;
  margin: 0;
  left: 70px; */
}
p {
width: 600px;
padding: 20px;
text-align: left;
}

.footer {
  text-align: center;
  color: #ffffff;
  background-color: #666666;
  height: 60px;
  border-top: #4aaaa5 20px solid;
  padding: 20px;
  

}