header {
  background-color: #4aaaa5;
  border: 20px;
  padding: 20px;
  color: #ffffff;
  width: 35%;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font: bolder;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  color: #4aaaa5;
  font-size: 30px;
}