header {
  background-color: #4aaaa5;
  border-color: #cccccc;
  border: 20px;
  padding: 40px;
  margin-top: 30px;
  margin-left: 200px;
  margin-bottom: 0;
  color: #ffffff;
  width: 35%;
  font-size: 40px;
  font-family: 'Calistoga', cursive;
  font: bolder;
}

/* body {
  font-family: Georgia, 'Times New Roman', Times, serif;
} */

h1 {
  color: #4aaaa5;
  font-size: 30px;
  border-bottom: #dddddd solid;
  font-family: Georgia, 'Times New Roman', Times, serif;
  clear: both;
 
}

.navbar {
  list-style: none;
  margin: 0;
  margin-top: 0;
  padding: 0;
  background: #ffffff;
  border-radius: 5px;
  overflow: auto;

}

.navbar li {
  float: right;
}

.navbar li a {
  display: block;
  text-decoration: none;
  padding: 15px 20px;
  color: #cccccc;
}

.navbar li a:hover {
  background-color: cadetblue;
  color: #ffffff;
}

#body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #ffffff;
  border: solid #dddddd 400px;
  width: 940px;
  height: 1500px;
  padding: 20px;
  margin-right: 100px;
  margin-right: 100px;
  
  /* box-sizing: border-box;
  border: #dddddd solid px;
  background-color: #ffffff;
  /* border-color: #dddddd;
  border-style: solid; */
  /* padding: 20px;
  margin-top: 90px;
  margin-bottom: 90px;
  margin-right: 60px;
  margin-left: 60px;
  width: 960px; */ */

}

/* img {
  position: fixed;
  margin: 0;
  left: 70px; */
/* } */
.container {
  line-height: 2em;
  max-width: 940px;
  padding: 20px;
  width: max-content;
  float: left;
}
/* 
p {
  float: left;
}*/

img {
  float: left;
  margin-right: 20px;
}
.picture {
float: left;
  width: 40%;
  /* padding: 50px; */
  margin: 20px;
}

#hangman {
  background-color: #4aaaa5;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  width: 210px;
  position: absolute;
  bottom: -195px;
}

#rpg {
  background-color: #4aaaa5;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  width: 210px;
  position: absolute;
  bottom: -195px;

}


#Trivia_game { 
  /* clear: both; */
  /* background-color: #4aaaa5;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  width: 210px;
  position: absolute;
  bottom: -200px; */

} 

#Rutgers_info {
  /* background-color: #4aaaa5;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  width: 210px;
  position: absolute;
  bottom: -200px; */

}

#rock {
  /* background-color: #4aaaa5;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  width: 210px;
  position: absolute;
  bottom: -200px; */
} 

input, textarea{
  width: 96%;
  border: 1px solid #dddddd;
  padding: 5px;
}


textarea {
  height: 300px;
  width: 900px;
  border:1px solid #dddddd
}

button {
  background-color: #4aaaa5;
  border-color: #4aaaa5;
  color: #ffffff;
  width: 90px;
  padding: 10px;
  text-align: center;
  font-size: 1em;
}
.footer {
  clear: both;
  text-align: center;
  color: #ffffff;
  background-color: #666666;
  height: 50px;
  margin-top: -50px;
  border-top: #4aaaa5 8px solid;
  padding: 50px;
  box-sizing: border-box;
}

